DATABASE_TYPE=postgres
DATABASE_URL=
DATABASE_AUTO_LOAD_ENTITIES=
DATABASE_SYNCHRONIZE=

JWT_ACCESS_SECRET=
JWT_TTL=
JWT_REFRESH_SECRET=
JWT_REFRESH_TTL=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

PORT=

NODE_ENV=

FRONTEND_URL=